body {
    background: #fff;
}

.reveal
{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: -0.02em;
    color: #222;
}

::selection
{
    color: white;
    background: #ff5e99;
    text-shadow: none;
}

.reveal code
{
    font-size: 80%;
}

.reveal pre code
{
    font-size: 100%;
}

.reveal abbr
{
    border-bottom: 1px dotted #222;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #222;
    font-family: sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.reveal a:not(.image)
{
    color: #005;
    text-decoration: none;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #333; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #333; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #333; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #333; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #000; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #000; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #000; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #000; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span
{
  background: #222;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal .slides
{
    width: 100% !important;
    height: 100% !important;
}

.reveal section
{
    height: 100%;
    text-align: left;
}

.reveal section:first-of-type
{
    padding-top:20%;
}


.reveal section:first-of-type:before
{
    background: transparent !important;
}

.reveal section:first-of-type img
{
    width: 300px;
    box-shadow: none;
    border: 0;
    float: left;
    margin: 20px 0 0 50px;
}

.reveal section:first-of-type h1
{
    font-size: 66px;
    background: #2a84b7;
    color: #fff;
    line-height: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-left: 400px;
    text-align:center;
}


.reveal section:first-of-type p
{
    text-align:center;
    margin-top:3em;
    font-size:140%;
}

.reveal section.present:before
{
    position: absolute;
    content: " ";
    background: #fff url(../../assets/ez_small.png) no-repeat center center;
    width: 140px;
    height: 55px;
    left: 88%;
    top: 1.2em;
}

.reveal header, .reveal footer 
{
    display: none;
}

.reveal section header
{
    display: block;
    padding-left: 1em;
    border-bottom: 8px solid #2a84b7;
    font-size: 8px;
    text-align: left;
    margin-bottom: 1em;
}

.reveal header h1
{
    color: #2a84b7;
}

.reveal section footer
{
    display: block;
    position: fixed;
    width: 100%;
    background: #2a84b7;
    color: #fff;
    line-height: 1em;
    bottom: 50px;
    height: 1.3em;
    font-size: 20px;
}

.reveal footer p
{
    display: inline-block;
    width: 29%;
    text-align: center;
    padding: 0 1em;
    margin:0;
}

.reveal footer p:first-of-type
{
    text-align: left;
}
.reveal footer p:last-of-type
{
    float:right;
    text-align: right;
}

.reveal h2
{
    margin: 0.4em;
    font-size: 140%;
}

.reveal h3
{
    margin: 0.6em;
    font-size: 120%;
}

.reveal ul
{
    padding-left: 1em;
    list-style-type: square;
}

.reveal ol
{
    list-style-position: outside;
    padding-left: 1em;
}

.reveal li
{
    line-height: 1.5em;
}

.reveal ul .conclusion
{
    list-style-type: none;
}

.reveal ul ul
{
    list-style-type: disc;
}

.reveal .social
{
    margin-top: 2em;
    display: block;
    text-align:center;
}


.reveal .social li,
.reveal .social a
{
    font-size: 140%;
    display: inline-block;
    width: 3em;
}


.reveal .social span
{
    display: none;
}

.reveal table
{
    width:90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.reveal td
{
    padding: 0.2em 0.4em;
    width:50%;
}

.reveal tr:nth-child(even)
{
    background: #fcfcfc;
}

.reveal tr:nth-child(odd)
{
    background: #eee;
}

.reveal .end
{
    font-size:800%;
    text-align:center;
    font-weight: bold;
}

.reveal .architecture
{
    text-align:center;
    height: 100%;
}


.reveal .architecture img
{
    height: 80%;
}
