body {
    background: #ddd;
    font-family:'Open Sans',Tahoma,Arial,Helvetica,sans-serif;
    color:#666;
}

pre {
    font-family: monospace;
}

h2 {
    border-bottom: 1px solid #ddd;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.text a, .text a:visited {
    color: #0000dd;
    text-decoration: none;
    border-bottom: 1px solid #0000dd;
}

.text a:visited {
    border-bottom: 1px solid #000033;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right:0.4em;
}

canvas {
    display: none;
}

.pure-form label {
    color: #666;
}

.application {
    background: #fff;
    margin: 1em;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0 1em 1em 1em;
    max-width: 1280px;
}

.view-title {
    font-weight: normal;
    font-size:1.6em;
    border-bottom: 1px solid #aaa;
}

.help {
    font-size:90%;
}

.help-next {
    text-align: right;
}

.inner-content-right {
    margin: 0 1em 0 0;
}

.inner-content-left {
    margin: 0 0 0 1em;
}

.button-bar .help {
    margin-top:0;
}

.preview {
    min-height: 420px;
    margin: 0;
}

.webcam-view video,
.picture-view img {
    max-width: 95%;
    margin: 0;
}

.webcam-view video {
    position: relative;
    z-index:1;
}

.camera-overlay {
    font-family: 'icomoon';
    font-size: 200px;
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0.4;
    z-index:10;
}

.webcam-view .camera-overlay:hover {
    cursor: pointer;
}

.webcam-view .camera-overlay-hidden {
    display: none;
}

.picture-view .image-result {
    text-align: center;
}

.picture-view .image-result-captured {
    text-align: right;
}

.button-bar-next {
    text-align: right;
}

.system-check {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0;
}

.system-check li {
    margin-top:2px;
    background: #f3f3f3;
    color: #999;
}

.system-check li:before {
    content: "?";
    width: 2em;
    text-align:center;
    display: inline-block;
    font-weight: bold;
}

.system-check .is-checking {
    color: #666;
}

.system-check .is-granted,
.system-check .is-denied {
    color: #444;
}

.system-check .is-checking:before,
.system-check .is-granted:before,
.system-check .is-denied:before {
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.system-check .is-checking:before {
    content: "\e00d";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.system-check .is-granted:before {
    content: "\e00b";
    color: #1CB841;
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    animation: none;
}

.system-check .is-granted {
    background: #DAEDDE;
}

.system-check .is-denied:before {
    content: "\e00c";
    color: #CA3C3C;
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    animation: none;
}

.system-check .is-denied {
    background: #F2E1E1;
}

.map {
    height: 300px;
    width: 100%;
    position: relative;
}

.rest-log .log-title {
    background: #c9c9c9;
    border: 1px solid #c9c9c9;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 0.3em 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:#333;
}

.rest-log .log-content {
    min-height:2em;
    background: #eee;
    border: 1px solid #c9c9c9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #333;
}

.rest-log .log-content code {
    white-space: pre-wrap;
    font-size:80%;
}

.rest-log .info {
    font-size: 120%;
    padding-left: 0.4em;
    font-weight: bold;
    line-height: 1.4em;
}

.rest-log .notice {
    font-style: italic;
    padding: 0.2em;
    background: #FCEECD;
}
.rest-log .notice code {
    display: block;
}

.rest-log .request {
    background: #fff;
    padding-left:2em;
}

.rest-log .error {
    color: #f00;
    padding-left: 0.4em;
    background: #FFE5E5;
    font-weight: bold;
    font-size:120%;
    line-height: 1.4em;
}

.raw-data img {
    max-width: 100%;
}

.raw-data .image {
    text-align: center;
}

.raw-data dt {
    font-weight: bold;
}

.raw-data dd, .raw-data dt {
    margin: 0.2em 0 0 0;
}

.pure-menu li a {
    padding: 0 30px 0 0;
}

.pure-menu .step {
    display: inline-block;
    line-height: 1.7em;
    color: #f4f4f4;
    background: #666;
    padding: 0 3px 0 5px;
}

.pure-menu .pure-menu-disabled .step {
    background: #aaa;
}
